* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.btn-box {
  display: flex;
  justify-content: center;
  margin-top: 350px;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 5px;
  background-color: rgb(30, 255, 0);
  font-weight: 700;
  cursor: pointer;
}